@model SwiftHR.Models.UserDetail

@{
   
    ViewData["Title"] = "User Password Change";
}


<form asp-controller="Home" asp-action="UpdatePassword" method="post" asp-route-callingView="Dashboard" enctype="multipart/form-data">

    @*<button  type="submit" style="margin-right: 2%; margin-top: 1%;" title="Close Window">
            <span aria-hidden="true">&times;</span>
        </button>*@
    <div style="display:none;">
        <button type="button" id="btnAlert" class="btn btn-info" data-toggle="modal" data-target="#modal-warning">
        </button>
        <button type="button" id="btnSuccess" class="btn btn-success" data-toggle="modal">
        </button>
    </div>
    <section class="content">
        <div class="row" style="margin-top: 0%; background-color: #ddd6;">
            <!-- /.col -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <div class="login-logo">
                            <span style="color: #d21e2b; font-weight: 600;">Change</span><span style="color: #0a3d74; font-weight: 600;">Password</span>
                        </div>
                        <!-- /.login-logo -->
                        <div class="box-body box-profile">
                            @*<img class="profile-user-img img-responsive img-circle" src="../UploadImages/@Model.ProfilePicturePath" alt="User profile picture">*@
                            <div class="profile-username text-center">
                                <label for="fileUpload">
                                    <input type="file" id="fileUpload" name="PicturePath" onchange="SavePictureData(event);" style="display:none" accept=".png,.jpg,.jpeg,.gif,.tif" />
                                    <img id="imgProfile" class="profile-user-img img-responsive img-circle" src="../UploadImages/@Model.ProfilePicturePath" alt="User profile picture" style="cursor:pointer;">
                                    @*<img class="profile-user-img img-responsive img-circle" src="../UploadImages/@Model.empDetails.EmployeeProfilePhoto" alt="User profile picture" style="cursor:pointer;">*@
                                </label>
                            </div>
                                <h3 class="profile-username text-center">@Model.FirstName @Model.LastName </h3>

                                <p class="text-muted text-center" style="font-size: 20px; font-weight: 700;"> @Model.UserName </p>

                                <p class="login-box-msg">Enter your credentials</p>

                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <div class="form-group has-feedback">
                                            <label for="UserPassword">Current Password </label>
                                            <input id="txtOldPassword1" type="password" class="form-control" placeholder="Current Password" name="UserPassword">
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label for="newUserPassword">New Password </label>
                                            <input id="txtNewPassword1" type="password" class="form-control" placeholder="Enter a new Password" name="newUserPassword">
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label for="reNewUserPassword">Confirm New Password </label>
                                            <input id="txtNewPassword2" type="password" class="form-control" placeholder="Re-type the new Password" name="reNewUserPassword">
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        </div>
                                    </li>
                                </ul>
                                <!--<div class="row">
    <div>
        <button type="submit" class="btn btn-primary btn-block"><b>Modify Password</b></button>
    </div>-->
                                <!-- /.col -->
                                <!--</div>-->

                                <div>
                                    <button type="submit" class="btn btn-primary btn-block" onclick="validatePasswordData(event);"><b>Modify Password</b></button>
                                </div>
                                <!-- /.col -->
                                <!-- /.login-box-body -->
                            </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
    </section>

</form>

<script type="text/javascript">

    function ValidateMobileNo(txtMobileNo) {
        var mobileNo = txtMobileNo.value;

        if (mobileNo.length < 10) {
            txtMobileNo.value = "";
            alert("Please enter valid mobile number.");
        }
    }

    function preventNumberInput(e) {
        var keyCode = (e.keyCode ? e.keyCode : e.which);
        if (keyCode > 47 && keyCode < 58 || keyCode > 95 && keyCode < 107) {
            e.preventDefault();
        }
    }

    function restrictAlphabets(e) {
        var x = e.which || e.keycode;
        if ((x >= 48 && x <= 57))
            return true;
        else
            return false;
    }

    function ValidateEmail(txtEmail) {
        var emailId = txtEmail.value;
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(emailId)) {
            txtEmail.value = "";
            alert("Please enter valid email.");
        }
    }

    function ddlAddressSelectionChange(selValue) {
        if (selValue == "PermanentAddress") {
            document.getElementById("divPresentAddress").style.display = "none";
            document.getElementById("divPermanentAddress").style.display = "block";
        }
        else {
            document.getElementById("divPermanentAddress").style.display = "none";
            document.getElementById("divPresentAddress").style.display = "block";
        }
    }

    function validatePasswordData(event) {
        var IsAnyEmpty = false;
        var alertMsg = "";
        alert("Please enter valid password.");

        if (document.getElementById("txtNewPassword1").value == "") {
            IsAnyEmpty = true;
            alertMsg = "New Password <br />";
        }
        if (document.getElementById("txtNewPassword2").value == "") {
            IsAnyEmpty = true;
            alertMsg = alertMsg + "Confirm Password <br />";
        }

        if (IsAnyEmpty) {
            event.preventDefault();
            document.getElementById("btnAlert").click();
            $('#alertBody').html(
                '<p>' + alertMsg + '<br /> cannot be empty </p>'
            );
            IsAnyEmpty = true;
        }
        alert(alertMsg);
        return IsAnyEmpty;
    }

    function SavePictureData1(event) {
        //alert("Inside SavePictureData method1");
            var form_data = new FormData();
            form_data.append('PicturePath', $('#fileUpload')[0].files[0]);
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdatePassword", "Home")",
                processData: false,
                contentType: false,
                async: false,
                cache: false,
                data: form_data,
                success: function (response) {
                    @*var image = document.getElementById('imgProfile');*@
                    @*LoadUserData();*@
                    @*alert("Inside SavePictureData method1");*@
                    @*image.src = URL.createObjectURL(event.target.files[0]);*@
                    
                    var usrImgData = JSON.parse(response);
                    if (usrImgData != null && usrImgData != undefined) {
                        var imageProfile = document.getElementById('imgProfile');
                        @*var image = document.getElementById('imgProfile');
                        image.src = "../UploadImages/" + usrData.ProfilePicturePath;
                        alert(image.src);*@
                        var imgNavModelUser1 = document.getElementById("imgNavModelUser");
                        var imgNavUser1 = document.getElementById("imgNavUser");
                        var imgSideNavUser1 = document.getElementById("imgSideNavUser");
                        //alert(usrImgData.ProfilePicturePath);
                        if (usrImgData.ProfilePicturePath != null && usrImgData.ProfilePicturePath != undefined && usrImgData.ProfilePicturePath != "") {
                            imgNavModelUser1.src = "../UploadImages/" + usrImgData.ProfilePicturePath;
                            imgNavUser1.src = "../UploadImages/" + usrImgData.ProfilePicturePath;
                            imgSideNavUser1.src = "../UploadImages/" + usrImgData.ProfilePicturePath;
                            imageProfile.src = "../UploadImages/" + usrImgData.ProfilePicturePath;
                        }
                        else { 
                            imgNavModelUser.src = "../UploadImages/default-avatar.png";
                            imgNavUser.src = "../UploadImages/default-avatar.png";
                            imgSideNavUser.src = "../UploadImages/default-avatar.png";
                            imageProfile.src = "../UploadImages/default-avatar.png";
                        }

                    }
                },
                error: function (req, status, error) {
                    //console.log(msg);
                }
            });
    }

</script>


